.error {
    display: flex;
    justify-content: center;
    align-content: center;
    background: $thirdBrandColor;
    border: 2px solid $primaryBrandColor; 
}

.ErrorMessage {
    width: 60%;
    text-align: center;
    padding: 50px 0px;
}