html {
	font-size: $htmlFontSize;
    font-family: 'Exo 2', sans-serif;
    color: $primaryBrandColor;
    background: $thirdBrandColor;
}

.wrapper {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.GIF{
    margin: 5px 5px;
}

.pageButtonContainer {
    display: flex;
    justify-content: space-around;
}

.pageButton {
    width: 120px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 20px;

}

.pageButton button {
    width: 40px;
    background: $secondaryBrandColor;
    border: 1px solid white;
    padding: 2px 10%;
    display: flex;
    justify-content: center;
    &:hover {
       
    }
}
.pageButton button i {
    font-size: 30px;
    color: white;
}

