header {
  background: $primaryBrandColor;
  color: $thirdBrandColor;
}

header .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-around;
  background: $secondaryBrandColor;
  color: $thirdBrandColor;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px #888888;
}

nav button {
  padding: 10px 40px;
  border: none;
  background: none;
  color: $thirdBrandColor;
  &:hover{
    background-color: $primaryBrandColor;
  }
}

nav form {
  color: $thirdBrandColor;
}

.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  width: 30%;
}

.user-profile {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.user-profile img {
  border-radius: 50%;
  max-width: 100px;
}