#moreInfo {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(74, 150, 173, 0.6);
    color: $primaryBrandColor;
}

.moreInfoContainer{
    background: $thirdBrandColor;
    border: 2px solid $primaryBrandColor;
    padding: 20px;
    padding-top: 10px;
    min-width: 400px;
    box-shadow: 2px 2px 5px #545454;
    border-radius: 5px;
    @include respond-to ('ex-small') {
        max-width: 100%;
        min-width: 200px;
	}
}

.Icon {
    display: flex;
    align-content: flex-end;
    margin-bottom: 20px;
}

.Icon i {
    position: relative;
    left: 97%;
    font-size: 20px;
    &:hover{
        color: $secondaryBrandColor;
    }
}

.titleAndIcon h1 {
    margin: 0;
}

.chosenGIFconatiner {
    display: flex;
    justify-content: center;
}

.info {
    text-align: center;
}

.info a {
    color: $secondaryBrandColor;
    text-decoration: none;
    padding: 2px 3px;
    &:hover {
        color: $thirdBrandColor;
        background: $secondaryBrandColor;
    }
}

.links {
    margin-bottom: 20px;
}

.links p {
    margin: 0;
}

.links input {
    padding: 5px;
    width: 300px;
    @include respond-to ('ex-small') {
        max-width: 100%;
	}
}

.likeButtonContainer {
    display: flex;
    justify-content: center;
}

.likeButton {
    background: $primaryBrandColor;
    border: 1px solid white;
    padding: 13px 23px;
    color: white;
    box-shadow: 1px 1px 5px #545454;
    transition: 0.1s ease-in;
    font-size: 1.1em;
    &:hover{
        background: $secondaryBrandColor;
        border-radius: 15px;
    }
} 