article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  color: #7D1935;
  background: white; }

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto; }
  @media (max-width: 650px) {
    .wrapper {
      width: 98%; } }

h1 {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 3.5em; }

h2 {
  font-family: 'Cairo', sans-serif; }

img {
  max-width: 100%; }

button:focus {
  outline: 0; }

.trending, .searchedGIFs, .topGIFs {
  min-height: 53vh; }

nav input {
  padding: 2px 4px; }

.results {
  background: #F5F3EE;
  border: 2px solid #7D1935;
  padding: 20px 20px; }

.GIFsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center; }

.GIF {
  margin: 5px 5px; }

.pageButtonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 30px; }

.pageButton {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-bottom: 20px; }

.pageButton:nth-of-type(1) {
  align-items: flex-end; }

.align {
  align-items: flex-start; }

.pageButton:nth-of-type(2) {
  align-items: flex-start; }

.pageButton button {
  width: 40px;
  background: #4A96AD;
  border: 1px solid white;
  padding: 2px 10%;
  display: flex;
  justify-content: center;
  transition: 0.1s ease-in; }
  .pageButton button:hover {
    border-radius: 15px;
    background: #7D1935;
    border: 1px solid white; }

.pageButton button i {
  font-size: 30px;
  color: white; }

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #7D1935;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.APIcallType {
  text-align: center; }

.APIcallType h2 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 35px; }

.page {
  margin-top: -25px;
  margin-bottom: 20px; }

.topGIFs .APIcallType {
  margin: 20px 0; }

header {
  background: #7D1935;
  color: #F5F3EE;
  padding: 0 10px;
  margin-bottom: 25px; }

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #4A96AD;
  color: #F5F3EE;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px #888888; }

nav label {
  margin-right: 10px; }

nav button {
  padding: 10px 40px;
  border: none;
  background: none;
  color: #F5F3EE; }
  nav button:hover {
    color: #7D1935; }

#search {
  padding: 10px; }

nav form {
  color: #F5F3EE; }
  nav form:focus + label {
    color: #7D1935; }

nav form input:focus label {
  color: #7D1935; }

.user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  width: 30%; }

.user-profile {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

.user-profile img {
  border-radius: 50%;
  max-width: 100px; }

#moreInfo {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(74, 150, 173, 0.6);
  color: #7D1935; }

.moreInfoContainer {
  background: #F5F3EE;
  border: 2px solid #7D1935;
  padding: 20px;
  padding-top: 10px;
  min-width: 400px;
  box-shadow: 2px 2px 5px #545454;
  border-radius: 5px; }
  @media (max-width: 570px) {
    .moreInfoContainer {
      max-width: 100%;
      min-width: 200px; } }

.Icon {
  display: flex;
  align-content: flex-end;
  margin-bottom: 20px; }

.Icon i {
  position: relative;
  left: 97%;
  font-size: 20px; }
  .Icon i:hover {
    color: #4A96AD; }

.titleAndIcon h1 {
  margin: 0; }

.chosenGIFconatiner {
  display: flex;
  justify-content: center; }

.info {
  text-align: center; }

.info a {
  color: #4A96AD;
  text-decoration: none;
  padding: 2px 3px; }
  .info a:hover {
    color: #F5F3EE;
    background: #4A96AD; }

.links {
  margin-bottom: 20px; }

.links p {
  margin: 0; }

.links input {
  padding: 5px;
  width: 300px; }
  @media (max-width: 570px) {
    .links input {
      max-width: 100%; } }

.likeButtonContainer {
  display: flex;
  justify-content: center; }

.likeButton {
  background: #7D1935;
  border: 1px solid white;
  padding: 13px 23px;
  color: white;
  box-shadow: 1px 1px 5px #545454;
  transition: 0.1s ease-in;
  font-size: 1.1em; }
  .likeButton:hover {
    background: #4A96AD;
    border-radius: 15px; }

.error {
  display: flex;
  justify-content: center;
  align-content: center;
  background: #F5F3EE;
  border: 2px solid #7D1935; }

.ErrorMessage {
  width: 60%;
  text-align: center;
  padding: 50px 0px; }

footer {
  background: #7D1935;
  color: #F5F3EE;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px; }

svg {
  width: 50px;
  display: block;
  margin: 0 auto; }

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0; }
  .path.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out; }
  .path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards; }
  .path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards; }

p {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em; }
  p.success {
    color: #73AF55; }
  p.error {
    color: #D06079; }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }
